*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: mediumvioletred;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px;
}

header img{
    width: 20px;
    margin-right: 20px;
}
header button {
    width: 50px;
}
header button:hover {
background-color: darkgrey;
}
header a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 20px;
}
nav{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f2d0e0;
    margin-right: 10px;
}
nav img{
    width: 20px;
}
nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.lateral img{
    margin-right: 20px;
}
#bolo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    row-gap: 10px;
    gap: 10px;
    margin-right: 10px;
}

main{
    display: flex;
}

.bolo img{
    width: 200px;
    margin-right: 0;
    border-radius: 2px;
    height: min-content;
}

#bolo div{
    box-shadow: 3px 3px 3px darkgray;
}

footer{
    position:fixed;
    width: 100%;
    bottom: 0;
    background-color: mediumvioletred;
    text-align: center;
    padding: 11px;
    font-weight: bold;
    font-size: 20px;
} 