body {
  width: 100%;
  padding: 0;
  margin: 0;
}


.tela-inteira {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #373737;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 10%;
}

main {
  min-height: 80%;
  display: flex;
}

.menu-vertical {
  flex-basis: 200px;
  border-right-style: solid;
  border-right-width: thin;
  background-color: #373737;
  color: white
}

.botoes-meunu-vertical {
  display: flex;
  align-content: center;
  justify-content: center;
  list-style-type: none;
  border: thin solid #474747;
  background-color: #373737;
  border-radius: 5px;
  padding: 0.2em;
  padding-left: 0;
  margin: 0.4em;
}
ul {
  padding: 10px;
}
input {
  margin: 0 auto;
  width: 500px;
  height: 30px;
  border: thin solid #474747;
  background-color: #373737;    
}

.painel-de-videos {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 24.8% 0.2%);
  grid-template-rows: repeat(4, 270px 20px);
  background-color: #373737;
  border-top: 1px solid #373737;
  
}
img {
  margin-top: 10px;
  width: 250px;
  height: 250px;
  object-fit: none;
}

.media1 {
  grid-column-start: 1;
  grid-row-start: 1;
}

.media2 {
  grid-column-start: 3;
  grid-row-start: 1;
}

.media3 {
  grid-column-start: 5;
  grid-row-start: 1;
}

.media4 {
  grid-column-start: 7;
  grid-row-start: 1;
}

.media5 {
  grid-column-start: 1;
  grid-row-start: 3;
}

.media6 {
  grid-column-start: 3;
  grid-row-start: 3;
}

.media7 {
  grid-column-start: 5;
  grid-row-start: 3;
}

.media8 {
  grid-column-start: 7;
  grid-row-start: 3;
}


.box-pagina-principal {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;
  border-style: solid;
  border-width: thin; 
  align-items: start;
  justify-items: stretch;
  color: white
}

footer {
  height: 10%;
  background-color: #373737;
  color: white;
  font-size: 25px;
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.box-pagina-principal > img {
  width: 100%;
  height: 200px;
}

h4 {
  margin-left: 20px;
}

@media screen and (max-width:480px){
header h1{
  font-size: 1em;
}
.painel-de-videos {
  display: grid;
  padding: 0;
}
input {
  width: 100%;
}
}