body {
    background-color: papayawhip;
    text-align: center;
}

.nome-alterado p{
    color: palevioletred;
    font-size: 25px;
}


.links-alterados a{
    color: plum;
}

.botao-alterado {
    color: blue;
    background-color: pink;
}

.formulario-de-venda h2 {
    color: blue;

}
.redes-alterada p {
    color: plum;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
}